.container(style='padding-top: 80px')
	.row
		.col.s12.l6
			//.butterfly
				include include/butterfly.html
			ul.collection.with-header(style='margin-top: 48px')
				li.collection-header.center
					br
					img.circle.white.z-depth-1(src='http://danpoindexter.com/img/danpoindexter.png' style='height: 110px;width: 110px;')
					h4 Dan Poindexter
				li.collection-item
					label Email
					p
						i.material-icons.grey-text.left mail
						| dan@wellopp.com
				li.collection-item
					label Organizations
					br
					img.circle.white.z-depth-1(src='./img/hotpath_logo_small.svg' style='height: 60px;width: 60px;')
					img.circle.white.z-depth-1(src='./img/logo_butterfly_only.svg' style='height: 60px;width: 60px; margin-left: 15px;padding: 4px')
		.col.s12.l6
			h5 Devices
			ul.collection
				li.collection-item.avatar(ng-repeat='device in devices')
					i.material-icons.circle {{device.material_icon}}
					p {{device.name}} 
					label {{device.width}} x {{device.height}}
					a.secondary-content(href='#!' ng-click='devices.remove(device);'): i.material-icons close
				//li.collection-item.avatar
					i.material-icons.circle person
					input()
			h5 Default Tags
			ul.collection: .collection-item
				tags-input(ng-model='config.tags' replace-spaces-with-dashes='false')