@import "materialize";
@import "custom/likert";
@import "custom/angular-resizable";
@import "custom/nga";
@import "custom/rzslider";
@import "custom/codemirror";
@import "custom/tags-input";
@import "custom/scrollbar";

.container-wide{
	margin: 0 auto;
	width: 90%;
}

.indent{
	margin-left: 2em;
}

.card-image img{
	max-height: 250px;
  max-width: 500px;
  margin: auto;
}

.card-image-side img {
  margin-bottom: 200px;
}

.card-content {

  max-width: 100%;
  max-height: 100%;
}

.wrapper{
  width:100%;
}

body {
/* 	display: flex;
	min-height: 100vh;
	flex-direction: column; */
	font-family: "Raleway", sans-serif;
	//background: #fbfbfb;
	//overflow: hidden;
}

.content-wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	//overflow: hidden;
}

main {
	display: flex;
	flex: 1 0;
	align-content: center;
	//align-items: center;
}

header, footer{
	display: flex;
  height: 100px;
 //  background-color: #00bcd4;
}

a, p, span, input {
	//font-size:1.25em !important;
}

sup{
	font-size:0.5em !important;
	vertical-align: super;
}


.dot{
	width:20px;
	height: 20px;
	background: #aaa;
	border-radius: 100%;
	opacity: 0.25;
	margin: 0 auto;
	display: inline-block;
	margin: 10px;
}

.dot.filled{
	opacity: 1.0;
}

.btn-floating.btn-floating-huge {

    width: 180px;
    height: 180px;
    i {
    	line-height: 180px;
    	font-size: 100px;
    }
}

.btn-large {
	height:72px;
	line-height:72px;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}

.toast{
	background: #4caf50;
}

.dropdown-content li .selected{
	background: $secondary-color;
	color: white !important;
}

.radioset {
  padding: 50px 0px 70px 0px;
}
.radioset-sans-image {
  padding: 150px 0px 80px 0px;
}

label{
	display: block;
	clear: both;
}

.breadcrumb{
	color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.collection{
	.collection-item.avatar{
		min-height: 0px;
	}
}

.nga-fade{
  .card{
    box-shadow: none;
  }
}
.input-field {
  width:50%;
  margin-left:20%;
  margin-top: -1%;
}
#container-survey {
  padding-top: 20px;

  .card-content {
    color: black;
      margin-bottom:0px;

  }
    .card.small {
      height:300px;
    }
}
// #container-survey {
//   margin-top: 2%;

//   .card-content {
//     color: black;
//     margin-bottom:0px;

//     // text-overflow: ellipsis;
//     // white-space: nowrap; 
//     // overflow: hidden;


// }
//   .card.small {
//     height:300px;
//   }
// }

  .pagination li.active {
    background-color: #faae60; 
  }


#collections-tab{
  nav ul li {
    clear: left;
  }
}

.survey-image {
  height:50px;
}

alpaca-slides{
  width: 100%;
}


