@import "materialize";
@import "custom/likert";
@import "custom/angular-resizable";

.container-wide{
	margin: 0 auto;
	width: 90%;
}

.indent{
	margin-left: 2em;
}

.card-image img{
	max-height: 400px;
}

.wrapper{
	width:100%;
}

body {
/* 	display: flex;
	min-height: 100vh;
	flex-direction: column; */
	font-family: "Raleway", sans-serif;
	//background: #fbfbfb;
	overflow: hidden;
}

.content-wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

main {
	display: flex;
	flex: 1 0;
	align-content: center;
	//align-items: center;
}

header, footer{
	display: flex;
	height: 150px;
}

a, p, span, input {
	font-size:1.25em !important;
}

sup{
	font-size:0.5em !important;
	vertical-align: super;
}

p{
	color: #aaa;
}

.dot{
	width:20px;
	height: 20px;
	background: #aaa;
	border-radius: 100%;
	opacity: 0.25;
	margin: 0 auto;
	display: inline-block;
	margin: 10px;
}

.dot.filled{
	opacity: 1.0;
}

.btn-floating.btn-floating-huge {

    width: 180px;
    height: 180px;
    i {
    	line-height: 180px;
    	font-size: 100px;
    }
}

.btn-large {
	height:72px;
	line-height:72px;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}

.toast{
	background: #4caf50;
}

.dropdown-content li .selected{
	background: $secondary-color;
	color: white !important;
}

label{
	display: block;
	clear: both;
}

.breadcrumb{
	color: white;
}

#slide-nav{
	height: 100%;
}

nav{
	background: white;

	a, .breadcrumb, .breadcrumb:before{
		@extend .orange-text;
		@extend .text-darken-2;
	}

	.dropdown-content a{
		color: $secondary-color !important;
	}
}

.side-nav{
	@extend .grey;
	@extend .darken-4;
	@extend .center;
	width: 75px;

	.logo{
		@extend .center;

		img{
			padding:15px;
			height: 100%;
		}

		width: 100%;
		padding: 5px;
	}

	&.fixed a{
		padding: 0px;
	}

	a i{
		line-height: 64px;
	}

	a:hover{
		@extend .grey;
		@extend .darken-3;
		@extend .white-text;
	}

	a.selected, a.selected:hover{
		@extend .orange;
		@extend .darken-2;
		@extend .white-text;
	}
}

#slide-nav{
	.selected{
		background: $secondary-color;
		color: white;
	}
}


::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #ddd; 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #eee; 
}

.resizable-wrapper{
	.resizable-section{
		transition: all 0.3s ease-in-out;
	}
	

	&.minimized{
		#form-resizable-section{
			flex: 0 !important;
		}
		#preview-resizable-section{
			flex: 4 !important;
		}
	}
}

.card-panel, nav {
	box-shadow: none;
}