@import "materialize";
@import "custom/likert";
@import "custom/angular-resizable";
@import "custom/nga.scss";

.container-wide{
	margin: 0 auto;
	width: 90%;
}

.indent{
	margin-left: 2em;
}

.card-image img{
	max-height: 400px;
}

.wrapper{
	width:100%;
}

body {
/* 	display: flex;
	min-height: 100vh;
	flex-direction: column; */
	font-family: "Raleway", sans-serif;
	//background: #fbfbfb;
	overflow: hidden;
}

.content-wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

main {
	display: flex;
	flex: 1 0;
	align-content: center;
	//align-items: center;
}

header, footer{
	display: flex;
	height: 150px;
}

a, p, span, input {
	//font-size:1.25em !important;
}

sup{
	font-size:0.5em !important;
	vertical-align: super;
}


.dot{
	width:20px;
	height: 20px;
	background: #aaa;
	border-radius: 100%;
	opacity: 0.25;
	margin: 0 auto;
	display: inline-block;
	margin: 10px;
}

.dot.filled{
	opacity: 1.0;
}

.btn-floating.btn-floating-huge {

    width: 180px;
    height: 180px;
    i {
    	line-height: 180px;
    	font-size: 100px;
    }
}

.btn-large {
	height:72px;
	line-height:72px;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}

.toast{
	background: #4caf50;
}

.dropdown-content li .selected{
	background: $secondary-color;
	color: white !important;
}

label{
	display: block;
	clear: both;
}

.breadcrumb{
	color: white;
}

#slide-nav{
	height: 100%;
}

nav{
	background: white;

	a, .breadcrumb, .breadcrumb:before{
		@extend .orange-text;
		@extend .text-darken-2;
	}

	.dropdown-content a{
		color: $secondary-color !important;
	}
}

.side-nav{
	@extend .grey;
	@extend .darken-4;
	@extend .center;
	width: 75px;

	.logo{
		@extend .center;

		img{
			padding:15px;
			height: 100%;
		}

		width: 100%;
		padding: 5px;
	}

	&.fixed a{
		padding: 0px;
	}

	a i{
		line-height: 64px;
	}

	a:hover{
		color: white;
		background: #444;
	}

	a.selected{
		@extend .orange;
		@extend .darken-2;
		@extend .white-text;
	}
}

#slide-nav{

	.selected{
		background: $secondary-color;
		color: white;
	}
}


::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #ddd; 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #eee; 
}

.resizable-wrapper{
	.resizable-section{
		transition: all 0.3s ease-in-out;
	}
	

	&.minimized{
		#form-resizable-section{
			flex: 0 !important;
		}
		#preview-resizable-section{
			flex: 4 !important;
		}
	}
}

.card-panel, nav {
	box-shadow: none;
}

$node-height: 42px;

.node{
	display: block;
	width: 100%;
	height: $node-height;
	padding: 10px;
}

.dndDragging {
    opacity: 0.7;
}

.dndDraggingSource {
    display: none;
}

.dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: $node-height;
}

ul[dnd-list]{
	min-height: $node-height;
}

.template-thumbnail{
	@extend .center;
	display: inline-block;
	width: 250px;
	padding: 10px;
	cursor: pointer;

	img{
		border: 4px solid transparent;
	}

	&.selected{
		background: $secondary-color;

		img{
			border: 4px solid white;
		}

		label{
			@extend .white-text;
		}
	}


}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.collection{
	.collection-item.avatar{
		min-height: 0px;
	}
}

/* Tags Input */
tags-input {
  display: block;
}
tags-input *, tags-input *:before, tags-input *:after {
  //-moz-box-sizing: border-box;
  //-webkit-box-sizing: border-box;
  //box-sizing: border-box;
}
tags-input .host {
  position: relative;
  //margin-top: 5px;
  //margin-bottom: 5px;
  //height: 100%;
}
tags-input .host:active {
  //outline: none;
}

tags-input .tags {
  //-moz-appearance: textfield;
  //-webkit-appearance: textfield;
  //padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  //background-color: #fff;
  //border: 1px solid darkgray;
  //box-shadow: 1px 1px 1px 0 lightgray inset;
  //height: 100%;
}
tags-input .tags.focused {
  //outline: none;
  //-webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  //-moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  //box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
}
tags-input .tags .tag-list {
  //margin: 0;
  //padding: 0;
  //list-style-type: none;
}
tags-input .tags .tag-item {
	@extend .chip;
  margin: 2px;
  //padding: 0 5px;
  //display: inline-block;
  //float: left;
  //font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  //height: 26px;
  //line-height: 25px;
  //border: 1px solid #acacac;
  //border-radius: 3px;
  //background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  //background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
}
tags-input .tags .tag-item.selected {
  //background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  //background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}
tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: #585858;
}
tags-input .tags .tag-item .remove-button:active {
  //color: #ff0000;
}
tags-input .tags .input {
	width: 100%;
  //border: 0;
  //outline: none;
  //margin: 2px;
  //padding: 0;
  //padding-left: 5px;
  //float: left;
  //height: 26px;
  //font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tags-input .tags .input.invalid-tag {
  //color: #ff0000;
  @extend .red-text;
}
tags-input .tags .input::-ms-clear {
  display: none;
}
tags-input.ng-invalid .tags {
  //-webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  //-moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  //box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}
tags-input[disabled] .host:focus {
  //outline: none;
}
tags-input[disabled] .tags {
  //background-color: #eee;
  //cursor: default;
}
tags-input[disabled] .tags .tag-item {
  opacity: 0.65;
  //background: -webkit-linear-gradient(top, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
  //background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
}
tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default;
}
tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858;
}
tags-input[disabled] .tags .input {
  background-color: #eee;
  cursor: default;
}

tags-input .autocomplete {
  margin-top: -15px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  //border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
}
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  //font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  //color: #000;
  background-color: #fff;
}
tags-input .autocomplete .suggestion-item.selected {
  color: #fff;
  //background-color: #0097cf;
  background: $secondary-color;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  //background-color: #0097cf;
  background: $secondary-color;
}
tags-input .autocomplete .suggestion-item em {
  //font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

tags-input:focus, div:focus{
	outline: none;
	border: none;
	box-shadow: none;
}


// BUTTERFLY LOGO
$height: 110px;
$width: 110px;
$bg-color: #fefefe;
$wings-separation: 5px;
$svg-per: 70%;
$bg-color--ebfblue: rgb(0, 120, 191);

.butterfly {
  position: relative;
  height: $height;
  width: $width;
  border-radius: 50%;
  background-color: $bg-color;
  //background-image: url("http://www.transparenttextures.com/patterns/scribble-light.png");
  //border: 5px solid darken($bg-color, 20);
  margin: 40 auto;
  box-shadow: 0 9px 12px rgba(0,0,0,.25), 0 3px 6px rgba(0,0,0,0.16);
  transition: all .2s ease-in-out;

  &:hover {
    //transform: scale(1.2);
  }

  // obfuscate the texture bg
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    //background-color: rgba(0,0,0,0.1);
  }
}


.nga-fade{
  .card{
    box-shadow: none;
  }
}