@import "index";

body {
 	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Raleway", sans-serif;
	
	//overflow: hidden;
}

header, footer{
	display: flex;
  	height: 100px;
 //  background-color: #00bcd4;
}

main {
	// display: flex;
	// flex: 1 0;
	// align-content: center;
	// align-items: center;

	background: #fbfbfb;
}

.radioset{
	margin-top:60px;
}

.content-wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

alpaca-slides{
  width: 100%;
}

alpaca-slide {
	height: 100%;
	//display: flex;
	//flex-direction: column;
	//align-content: center;
}