@import "index";

body {
 	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Raleway", sans-serif;
	
	//overflow: hidden;
}

header, footer{
	display: flex;
  	height: 100px;
 //  background-color: #00bcd4;
}

main {
	// display: flex;
	// flex: 1 0;
	// align-content: center;
	// align-items: center;

	//background: #fbfbfb;
}

.container {
	margin-top:5%;
	margin-bottom:5%;
}


.content-wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card {
	//box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}


alpaca-slides{
  width: 100%;
}