div(ng-controller='authCtrl')
	//- nav
	//- 	div(class='nav-wrapper')
	div(class='pitch-wrap' ng-show='!isLoggedIn && isLoggedIn !== undefined')
		.container-wide
			.row(style='')
				.col.s12.l6
					p.flow-text.white-text(style='font-size:30px; letter-spacing:2px;')
						b Step up your data game.
				.col.s12.l6(style='margin-top:35px;')
					.btn(style='background:rgba(68, 68, 68, 0.90);') Learn more
					.btn(style='background:#ee6e73; margin-left:10px;' ng-click="signUpRoute()") Join for Free	
	div(class='input-field container' style='width:40%;')
		i(class='material-icons prefix') search
		input(id='search' type='text' ng-model='searchValue')
		label(for='search') Search

	div(id='container-survey')
		.container
			.row
				.col.s12.m6.l4(dir-paginate="_collection in collection.collections | filter:{title:searchValue} | itemsPerPage: 6") 
					//-a(class='card small' href="#" style='box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);')
					.card.small(ng-click='collection.setCurrent(_collection, $index)')
						a(href='' alt='#')
							.card-image 
								img(ng-src='{{_collection.img_url || "/img/placeholder2x1.svg"}}')
								//-span.card-title 
								//-h5 {{_collection.title}}
							.card-content
								p {{_collection.title}}
								label Organization: {{_collection.organization}}
								label Date: {{_collection.date}}

		.fixed-action-btn
			a.btn-floating.btn-large(style='background:#fab109' href='#' ng-click='collection.add()')
				i.material-icons add
		//- footer

		.row.center
			dir-pagination-controls(template-url="/pagination.html")
			//include include/footer.pug
