html
	head
		title Hotpath
		base(href="/")
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		//link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
		link(rel='stylesheet', href='css/materialize.css')
		//link(rel='stylesheet', href='css/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300|PT+Sans', type="text/css")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
			
		style.
			.row{
				margin-bottom: 0px;
			}
			#partners img {
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				filter: grayscale(100%); 
				margin-right: 40px;
			}
			#partners img:hover{
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-o-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				filter: grayscale(0%);
				transition-duration: 0.25s;
			}
			body {
				display: flex;
				min-height: 100vh;
				flex-direction: column;
				font-family: "Raleway", sans-serif;
			}

			main {
				flex: 1 0 auto;
			}
			.card-panel{
				opacity: 0;
			}
			nav ul a{
					font-size: 1.2rem;
			}
	body.grey.lighten-5(ng-app='alpacaEditor' ng-controller='authCtrl')
		mixin links
			li.no: a(href='#' ng-click="signInPageRoute()").orange-text Sign In
			li.no: a(href='#' ng-click="editorPageRoute()").orange-text Editor

		header
			nav.white: .nav-wrapper(style='padding: 0 40px')
				a(href='index.html').brand-logo: img(src='img/hotpath_logo.svg' height='100%' style='padding: 10px')
				a.button-collapse.orange-text(href='#' data-activates='side-nav')
					i.material-icons menu

				ul.right.hide-on-med-and-down
					+links
				ul#side-nav.side-nav
					+links

		main
			.row.parallax-container(style='width:100%; background-image:url(); background-repeat: no-repeat; background-size: cover;background-position: 50% 20%')
				.parallax
					image(src='img/parallax.jpg')
				.col.l8.valign-wrapper(style='height:100%; padding: 40px')
					h3.white-text.valign(style='font-weight: 300')
						| Open Source Content and Tools for Collecting and Analyzing Patient Reported Outcomes
				.col.l4(style='padding: 40px')
					.card-panel
						h4 Sign Up
						.input-field
							i(class='material-icons prefix') mail_outline
							input(class='validate' id='email' type='email' ng-model='email')
							label(for='email' data-error='wrong' data-success='right') Email
						.input-field
							i(class='material-icons prefix') lock_outline
							input(id='password' type='password' ng-model='password')
							label(for='password') Password
						//- .input-field
						//- 	input(type='text' id='organization')
						//- 	label Organization
						a.btn.green(ng-click= 'signUp()') Submit
							i.material-icons.left send
			#partners.row.grey(style='width:100%;padding: 10px 0px 20px 0px')
				.container.center
					a: img(src='img/logo.png' height='60')
					a: img(src='img/ICHOM_Logo.png' height='40')
			
			.container.center
				.row(style='padding: 40px 0px')
					.col.l4: .card-panel
							i.material-icons.orange-text.text-lighten-1.medium chrome_reader_mode
							h5 Standardized Surveys
							p We've curated expert created surveys to assess your patient population under best practice
					.col.l4: .card-panel
							i.material-icons.orange-text.text-lighten-1.medium build
							h5 Editor Tools
							p Use our survey creator tool to build your own surveys and collaborate with your research team
					.col.l4: .card-panel
							i.material-icons.orange-text.text-lighten-1.medium timeline
							h5 Analyze Outcomes
							p We host the surveys you create and deliver the results into a Google Spreadsheet for analysis

				a.center.btn.green Learn more

		footer.page-footer
			.footer-copyright
				.container
					| &copy; Wellopp 2016
					.right Terms		
		script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js')
		script(src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')
		script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
		script.
			var config = {
				apiKey: "AIzaSyBCAJtmUVpWjFUIw4yLUuPhbCJWNufA_gU",
				authDomain: "hotpath-f9c54.firebaseapp.com",
				databaseURL: "https://hotpath-f9c54.firebaseio.com",
				storageBucket: "hotpath-f9c54.appspot.com",
				messagingSenderId: "340378037531"
			};
			firebase.initializeApp(config);
		script(src='./js/alpaca-templates.js')
		script(src='./js/alpaca-schemas.js')
		script(src='./js/alpaca-types.js')
		script(src='./js/alpaca-viewer.min.js')
		script(src='./js/alpaca-editor.min.js')
		script.
			$(document).ready(function(){

				$(".button-collapse").sideNav();
				$('.parallax').parallax();
				$(".button-collapse").sideNav();

				var time = 0;
				$('.card-panel').each(function(){

						$(this).velocity(
							{ opacity: "1", translateX: "0"},
							{ duration: 800, delay: time, easing: [60, 10] });
						time += 60;
				})
			});