html
	head
		//base(href="/editor")
		link(rel='stylesheet' href='./css/editor.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		style.
			html {
				//- display: table;
				//- margin: auto;
			}
			body {
				background: linear-gradient(90deg, #faf0cd, #fab397);
				display: flex;
				min-height: 100vh;
				flex-direction: column;
				font-family: "Raleway", sans-serif;	
				//- display: table-cell;
				//- vertical-align: middle;
				//- background: #4ECDC4;
			}

			i {
				color:rgba(68, 68, 68, 0.8);
			}
	body(ng-app='alpacaEditor' ng-controller='authCtrl')
		mixin links
				//- li.no: a(href='#' ng-click="signUpRoute()").orange-text Sign Up
		header
			nav.white: .nav-wrapper(style='padding: 0 40px')
				a(href='#' ng-click='indexPageRoute()').brand-logo: img(src='img/hotpath_logo_small.svg' height='100%' style='padding: 10px; margin-left:-5;')
				a.button-collapse.orange-text(href='#' data-activates='side-nav')
					i.material-icons menu

				ul.right.hide-on-med-and-down
					+links
				ul#side-nav.side-nav
					+links
		div(style='min-height: 500px; height:calc(100% - 64px);padding: 40px;position:relative;')
			.container.white(style='width:85%; height: 100%;'): .row(style='height:100%')
				.col.s12.l8.hide-on-med-and-down(style='height:100%;background:url("/img/path.png");background-size:cover;')
				.col.s12.l4.valign-wrapper(style='height:100%')
					form.valign(style='padding:40px')
						div(style='color:rgba(68, 68, 68, 1);')
							h4(style='float:left;') Sign in
							p(style='float:right; color:rgba(68, 68, 68, 1);') or 
								span: a(href='#!' ng-click='signUpRoute()' style='color:rgb(255, 155, 0); font-weight:bold; font-size:18px;') sign up 
							div(class='input-field col s12')
								i(class='material-icons prefix') mail_outline
								input(class='validate' id='email' type='email' ng-model='email')
								label(for='email') Email
							div(class='input-field col s12')
								i(class='material-icons prefix') lock_outline
								input(id='password' type='password' ng-model='password')
								label(for='password') Password
						//- div(class='row')
						//- 	div(class='input-field col s12 m12 l12 login-text')
						//- 		label(for='remember-me') Remember me 
						//- 			input(type='checkbox' id='remember-me')
						div(class='row').center
							btn(class='btn waves-effect btn' style='background:rgba(0, 188, 212, 0.7); width:75%' ng-click="signIn()") Sign In
						p: a(href="#modal1" style='color:rgb(255, 155, 0)') Forgot password
				div(id="modal1" class="modal" style='overflow:hidden;')
					a(href="#!" class="modal-action modal-close" style='float:right; color:black;')
						i(class='material-icons') clear
					div(class="modal-content")
						h1(style='text-align:center; font-size:40px;') Reset password
						p A password message will be sent to your email address. Please click the link in that message to reset your password
						div(class='input-field col s12')
								i(class='material-icons prefix') mail_outline
								input(class='validate' id='email' type='email' ng-model='email')
								label(for='email') Email
					div(class="modal-footer")
						a(href="#!" class='btn waves-effect btn modal-trigger' style='background:rgba(0, 188, 212, 0.7);') Reset password

						//- a(href="#!" class="btn waves-effect waves-light modal-action modal-close") Close
						
							//- div(class='input-field col s6 m6 l6')
							//- 	p(class="margin medium-small")
							//- 		a(href="#" ng-click= 'signUp()') Register Now! 
							//- div(class='input-field col s6 m6 l6')
							//- 	p
							//- 		a(href='#' ng-click='resetPassword()') Forgot Password
			script(src='https://code.jquery.com/jquery-2.2.4.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
			script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js')
			script(src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')
			script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
			script.
				var config = {
					apiKey: "AIzaSyBCAJtmUVpWjFUIw4yLUuPhbCJWNufA_gU",
					authDomain: "hotpath-f9c54.firebaseapp.com",
					databaseURL: "https://hotpath-f9c54.firebaseio.com",
					storageBucket: "hotpath-f9c54.appspot.com",
					messagingSenderId: "340378037531"
				};
				firebase.initializeApp(config);
			script(src='./js/alpaca-templates.js')
			script(src='./js/alpaca-schemas.js')
			script(src='./js/alpaca-types.js')
			script(src='./js/alpaca-viewer.min.js')
			script(src='./js/alpaca-editor.min.js')
			script.
				$(document).ready(function(){
					$('.modal').modal({
						  dismissible: true, // Modal can be dismissed by clicking outside of the modal
						  opacity: .5, // Opacity of modal background
						  inDuration: 300, // Transition in duration
						  outDuration: 200, // Transition out duration
						  startingTop: '4%', // Starting top style attribute
						  endingTop: '10%', // Ending top style attribute
						 //-  ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
							//- //alert("Ready");
							//- console.log(modal, trigger);
						 //-  },
						 //-  complete: function() { alert('Closed'); } // Callback for Modal close
						});
					});	