html
    head
        //base(href="/")
        link(rel='stylesheet' href='./css/editor.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        style.
            .collection {
                //width: 80%;
            }

            .red-text-hover:hover{
                color: red;
            }

            .green-text-hover:hover{
                color: green;
            }
            .btn-flat:focus, .btn-flat:hover {

                background-color: rgba(0,0,0,0.1);
                box-shadow: none;
            }
    body.grey.lighten-3(ng-app='alpacaEditor')
        include include/header.pug
        div(ng-controller= 'settingsController' flow-init flow-files-submitted='setImage($flow)')
            .container
                h3 Edit Profile
                .row
                    .col.s12.m4.l4
                        img.circle.white.z-depth-1(ng-src = '{{user.profilePic || "/img/user.svg"}}' class='responsive-img' style='height: 250px;width: 250px;' )
                        br
                        br
                        .btn(flow-btn style='margin-left:50px;') Upload 
                            i(class='material-icons').left insert_photo
                        //a(href='#' ng-click='removeImage()' style='margin-top:30px; margin-bottom:15px; width: 30%;') Remove image
                    .col.s12.m8.l8
                        label(for='firstname') First Name
                        input(id='firstname' ng-model='user.firstName')
                        label(for='lastname') Last Name
                        input(id='lastname' ng-model='user.lastName')
                        //div(ng-init='user.email')    
                        div(ng-show='emailDisabled' style='position:relative;')
                            label(for='email' data-error='wrong' data-success='right') Email  
                            input(ng-disabled='true' class='validate' id='email' type='email' ng-model='currentUser.email')
                            a.btn-flat(style='position:absolute; right:2px; top: 25px;' ng-click = 'emailDisabled = false;user.email=currentUser.email')
                                i(href='#' class='material-icons') edit

                        div(ng-show='!emailDisabled' style='position:relative;')
                            label(for='email' data-error='wrong' data-success='right') Email  
                            input(class='validate' id='email' type='email' ng-model='user.email')
                            a.red-text-hover.btn-flat(style='position:absolute; right:2px; top: 25px;' ng-click = 'emailDisabled = true')
                                i(href='#' class='material-icons') clear

                            a.green-text-hover.btn-flat(style='position:absolute; right:80px; top: 25px;' ng-click='changeEmail(user.email)')
                                i(href='#' class='material-icons') done

    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js')
    script(src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')
    script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
    script.
        var config = {
            apiKey: "AIzaSyBCAJtmUVpWjFUIw4yLUuPhbCJWNufA_gU",
            authDomain: "hotpath-f9c54.firebaseapp.com",
            databaseURL: "https://hotpath-f9c54.firebaseio.com",
            storageBucket: "hotpath-f9c54.appspot.com",
            messagingSenderId: "340378037531"
        };
        firebase.initializeApp(config);
    script(src='./js/alpaca-templates.js')
    script(src='./js/alpaca-schemas.js')
    script(src='./js/alpaca-types.js')
    script(src='./js/alpaca-viewer.min.js')
    script(src='./js/alpaca-editor.min.js')
    script.
        $(document).ready(function(){
            $('#dropdown-button').dropdown({
                  inDuration: 300,
                  outDuration: 225,
                  constrainWidth: true, // Does not change width of dropdown to that of the activator
                  hover: false, // Activate on hover
                  gutter: 0, // Spacing from edge
                  belowOrigin: true, // Displays dropdown below the button
                  alignment: 'left', // Displays dropdown with edge aligned to the left of button
                  stopPropagation: false // Stops event propagation
            }); 
            $('.button-collapse').sideNav({
                menuWidth: 300, // Default is 300
                //edge: 'right', // Choose the horizontal origin
                //closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true // Choose whether you can drag to open on touch screens
            }); 
        });                  