html
	head
		//base(href="/editor")
		link(rel='stylesheet' href='./css/index.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		style.
			html {
				//- display: table;
				//- margin: auto;
			}
			body {
				
				background:linear-gradient(50deg, rgb(250, 174, 96) 25%, #ffffff);
				display: flex;
				min-height: 100vh;
				flex-direction: column;
				font-family: "Raleway", sans-serif;	
				//- display: table-cell;
				//- vertical-align: middle;
				//- background: #4ECDC4;
			}
			.container {
				background: white;

			}
			.row {
				margin:5px 5px 5px 5px;
			}
			i {
				color:rgba(68, 68, 68, 0.8);
			}
			

			//- #login-page {
			//- 	 width: 500px;
			//- 	 margin-top:50px;
			//- }
	body(ng-app='alpacaEditor' ng-controller='authCtrl')
		mixin links
				//- li: .btn(href='#' ng-click="signInPageRoute()" style='background:#444') Sign In
		header
			nav.white: .nav-wrapper(style='padding: 0 40px')
				a(href='#' ng-click='indexPageRoute()').brand-logo: img(src='img/hotpath_logo_small.svg' height='100%' style='padding: 10px; margin-left:-5;')
				a.button-collapse.orange-text(href='#' data-activates='side-nav')
					i.material-icons menu

				ul.right.hide-on-med-and-down
					+links
				ul#side-nav.side-nav
					+links
		.container(style='width:85%; height: 81%;')
			div(class='col s4 z-depth-6 card-panel' style='width:40%; margin-left:55%; margin-top:20px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0)')
				form
					h4(style='color:rgba(68, 68, 68, 1);') Sign up
					div(class="row")
					div(class='row')
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') perm_identity
							input(id='firstName' type='text' ng-model='firstName' required)
							label(for='firstName') First Name
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') perm_identity
							input(id='lastName' type='text' ng-model='lastName' required)
							label(for='lastName') Last Name	
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') mail_outline
							input(class='validate' id='email' type='email' ng-model='email')
							label(for='email' data-error='wrong' data-success='right') Email
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') lock_outline
							input(id='password' type='password' ng-model='password')
							label(for='password') Password
							
					//- div(class='row')
					//- 	div(class='input-field col s12')
					//- 		i(class='material-icons prefix') lock_outline
					//- 		input(id='confirm' type='password' data-match="password" ng-model='passwordConfirm')
					//- 		label(for='confirm') Confirm Password
					//- 		div(data-ng-show='myForm.confirmPassword.$error.match') Passwords do not match!
					div(class='row' style='margin-bottom:-3px;').center
						btn(class='btn waves-effect btn' ng-click="signUp(firstName, lastName, email, password)" style='background:rgba(0, 188, 212, 0.7);width:75%') Sign Up
					p(style='color:rgba(68, 68, 68, 1); font-weight:bold;') Already have an account? &nbsp;&nbsp;
						a(href='#' style='color:rgb(255, 155, 0)' ng-click='signInPageRoute()') Sign in
		
			script(src='https://code.jquery.com/jquery-2.2.4.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
			script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js')
			script(src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')
			script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
			script.
				var config = {
					apiKey: "AIzaSyBCAJtmUVpWjFUIw4yLUuPhbCJWNufA_gU",
					authDomain: "hotpath-f9c54.firebaseapp.com",
					databaseURL: "https://hotpath-f9c54.firebaseio.com",
					storageBucket: "hotpath-f9c54.appspot.com",
					messagingSenderId: "340378037531"
				};
				firebase.initializeApp(config);
			script(src='./js/alpaca-templates.js')
			script(src='./js/alpaca-schemas.js')
			script(src='./js/alpaca-types.js')
			script(src='./js/alpaca-viewer.min.js')
			script(src='./js/alpaca-editor.min.js')