html
	head
		//base(href="/editor")
		link(rel='stylesheet' href='./css/index.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		style.
			html {
				//- display: table;
				//- margin: auto;
			}
			body {
				background: linear-gradient(90deg, #faf0cd, #fab397);
				//background:linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
				display: flex;
				min-height: 100vh;
				flex-direction: column;
				font-family: "Raleway", sans-serif;	
				//- display: table-cell;
				//- vertical-align: middle;
				//- background: #4ECDC4;
			}
			h1 {
			font-size: 42px;
			background:-webkit-linear-gradient(#f6d365 0%, #fda085 51%, #f6d365 100%);
			//padding-bottom: 10px;
			text-align:center;
			-webkit-background-clip: text;
			-webkit-text-fill-color:transparent;
			}
			#login-page {
				 width: 500px;
				 margin-top:50px;
			}
	body(ng-app='alpacaEditor' ng-controller='authCtrl')
		mixin links
				li.no: a(href='#' ng-click="signInPageRoute()").orange-text Sign In
		header
			nav.white: .nav-wrapper(style='padding: 0 40px')
				a(href='#' ng-click='indexPageRoute()').brand-logo: img(src='img/hotpath_logo_small.svg' height='100%' style='padding: 10px; margin-left:-5;')
				a.button-collapse.orange-text(href='#' data-activates='side-nav')
					i.material-icons menu

				ul.right.hide-on-med-and-down
					+links
				ul#side-nav.side-nav
					+links
		div(id='login-page' class='row')
			//img(src='img/hotpath_logo.svg' height='100px' style='padding: 10px; margin-left:19%;')
			div(class='col s12 z-depth-6 card-panel')
				form(class='login-form')
					h1 Sign Up
					div(class="row")
					div(class='row')
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') perm_identity
							input(id='firstName' type='text' ng-model='firstName' required)
							label(for='firstName') First Name
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') perm_identity
							input(id='lastName' type='text' ng-model='lastName' required)
							label(for='lastName') Last Name	
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') mail_outline
							input(class='validate' id='email' type='email' ng-model='email')
							label(for='email' data-error='wrong' data-success='right') Email
					div(class='row')
						div(class='input-field col s12')
							i(class='material-icons prefix') lock_outline
							input(id='password' type='password' ng-model='password')
							label(for='password') Password
					//- div(class='row')
					//- 	div(class='input-field col s12')
					//- 		i(class='material-icons prefix') lock_outline
					//- 		input(id='confirm' type='password' data-match="password" ng-model='passwordConfirm')
					//- 		label(for='confirm') Confirm Password
					//- 		div(data-ng-show='myForm.confirmPassword.$error.match') Passwords do not match!
					div(class='row')
						div(class='input-field col s12')
							a(href='#' class='btn waves-effect btn col s12' style='background:#faae60' ng-click="signUp(firstName, lastName, email, password)") Sign Up
				//- 	div(class='row')
				//- p Mis-match? {{myForm.confirmPassword.$error.match}}	
						//- div(class='input-field col s6 m6 l6')
						//- 	p(class="margin medium-small")
						//- 		a(href="#" ng-click= 'signUp()') Register Now! 
						//- div(class='input-field col s6 m6 l6')
						//- 	p
						//- 		a(href='#' ng-click='resetPassword()') Forgot Password
			script(src='https://code.jquery.com/jquery-2.2.4.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
			script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js')
			script(src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')
			script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
			script.
				var config = {
					apiKey: "AIzaSyBCAJtmUVpWjFUIw4yLUuPhbCJWNufA_gU",
					authDomain: "hotpath-f9c54.firebaseapp.com",
					databaseURL: "https://hotpath-f9c54.firebaseio.com",
					storageBucket: "hotpath-f9c54.appspot.com",
					messagingSenderId: "340378037531"
				};
				firebase.initializeApp(config);
			script(src='./js/alpaca-templates.js')
			script(src='./js/alpaca-schemas.js')
			script(src='./js/alpaca-types.js')
			script(src='./js/alpaca-viewer.min.js')
			script(src='./js/alpaca-editor.min.js')