//include ../../include/search.pug
	
div(ng-controller='collectionsController')
	nav
		div(class='nav-wrapper')
			form
				div(class='input-field')
					input(id='search' type='search' ng-model='searchValue' style='margin-bottom: 5%')
					label(class='label-icon' for='search')
						i(class='material-icons' style = 'color:black;') search

	div(id='container-survey' style=' overflow-y: auto; height:100%; padding-bottom: 150px;')
		.container
			.row
				.col.s12.m6.l4(dir-paginate="_collection in collections | filter:searchValue | itemsPerPage: 6") 
					//a(class='card small' href="#" style='box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);')
					.card.small(ng-click='collection.setCurrent(_collection, $index)')
						a(href='' alt='#')
							.card-image 
								img(ng-src='{{_collection.img_url || "/img/placeholder2x1.svg"}}')
								//span.card-title 
								//h5 {{_collection.title}}
							.card-content
								p {{_collection.title}}
								label Organization: {{_collection.organization}}
								label Date: {{_collection.date}}

		.fixed-action-btn
			a.btn-floating.btn-large.orange(href='#' ng-click='collection.add()')
				i.material-icons add			
		div(ng-controller='authCtrl')
			a(href = '#' ng-click="signOut()") Sign Out 
			br
			a(href = '#' ng-click='indexPageRoute()') Home
		//- footer
		dir-pagination-controls(template-url="/pagination.html")
