.container(style='padding-top:50px'): .row
	.col.s12.m6.l4
		.card.small
			.card-image
				img(src='http://www.ichom.org/wp-content/uploads/2016/05/ibd-420x315.jpg')
			.card-content
				h5 General Wellness