.containter: .card.large

	.card-title() {{slide.question}}	
	.row(ng-class="{'valign-wrapper': slide.image_align=='Left' || slide.image_align=='Right'}")

		//IMAGE TOP
		.col.s12.l12.center(ng-if='slide.image_align=="Top"')
			.card-image: img(src='{{slide.image_url}}')

		//IMAGE LEFT
		.col.s12.l4.center(ng-if='slide.image_align=="Left"')
			.card-image: img(src='{{slide.image_url}}')

		//CONTENT
		.col.s12.center(ng-class="{l8: slide.image_align=='Left' || slide.image_align=='Right', l12: slide.image_align!='Left' && slide.image_align!='Right'}")
			.card-content()
				i.material-icons.large.grey-text.text-lighten-3(ng-if='slide.icon') {{slide.icon}}
				h3.grey-text.text-darken-2 {{slide.content}}
				div(ng-if='slide.custom', ng-bind-html='trustAsHtml(slide.custom)') {{slide.custom}}

		//IMAGE RIGHT
		.col.s12.l4.center(ng-if='slide.image_align=="Right"')
			.card-image: image(src='{{slide.image_url}}')