label {{field.label}}
br
.row(flow-init flow-files-submitted='fn.fileSuccess($file, $flow, slide, field, model)')
	.col.s12.center(ng-if='!model')
		.btn(flow-btn flow-drop) Upload
			i.material-icons.left cloud_upload

	.col.s12.center(ng-if='model')
		p model
		.btn {{$flow.files[0].name}}