div(style='margin-bottom: 100px')

	.center(ng-show='selected.readonly' style='padding: 50px;')
		i.material-icons.orange-text.large person
		p This slide belongs to a shared folder.
		p It cannot be edited here.


	nav: ul
		li: a(href='#') All
		li: a(href='#') Content
		li: a(href='#') Metadata
	.divider

	div(style='width:100%; padding:50px')
		div(ng-show='!selected.readonly' ng-repeat='field in schemas["index"].concat(schemas[selected.template])')
			alpaca-field(model='selected[field.key]' type='field.type' field='field' fn='fn[field.type]' templates='templates' slide='selected')