.frame-wrapper.container.center
	wrap-in-frame
		device-preview(device='device')
			alpaca-viewer(selected='selected' single='true')

//-.btn-floating.btn-large.waves-effect.waves-light.cyan(ng-click='maximizePreview(maximized)' style='position:absolute;bottom: 105px;left:-50px;z-index:150')
	i.material-icons(ng-show='!maximized') arrow_left
	i.material-icons(ng-show='maximized') arrow_right