//include ../edit/include/nav.pug

div(style='position:relative;height: 100%; overflow-y:auto;'): .container
	.row(ng-repeat='slide in survey.slides')
		.col.s12.card-panel
			p {{slide.content}}
		.col.s12: .container
				.row(ng-repeat='option in slide.options') 
					.col.l6
						p {{option.text}}
					.col.l6
						//p.range-field
							input(type='range' min='1' max='5' ng-model='option.weight')
						rzslider(
							rz-slider-model='option.weight' 
							rz-slider-options='{floor:1, ceil:5, showTicksValues:true}'
						)
					//.col.l4
						ul.collection
							li.collection-item(ng-repeat='suggestion in option.suggestions')
								textarea.materialize-textarea(ng-model='suggestion')
							li.collection-item.center
								i.material-icons add
