.container.center(style='height:100vh;display:flex;flex-direction:column;justify-content:center; align-items:center')
	div(style='width: 400px;height: 200px;')
		img(src='./img/hotpath_logo.png' width='400')
		.progress.orange.lighten-4
			.indeterminate.orange