nav(style='position:relative;z-index:100;flex-basis:64px;flex-grow:0;flex-shrink:0;'): .nav-wrapper
	form
		.input-field
			input#search(type='text' ng-model='searchtext' required)
			label.label-icon(for='search')
				i.material-icons search
			i.material-icons(ng-click='searching = false') close