ul#side-nav.side-nav.fixed
	li
		a.waves-effect.waves-light.logo(href='#!')
			img(src='./img/hotpath_logo_small.svg')
	li(ng-repeat='_tab in tabs')
		a.waves-effect.waves-light(href='#!' ng-click='setTab(_tab)' ng-class='{selected: tab == _tab}')
			i.material-icons {{_tab.icon}}