.grey.lighten-2
	.container: .row
		.col.s12.m6
			img.responsive-img(src='img/prescription.svg')
		.col.s12.m6(style='padding-top:20px; padding-bottom: 40px;')
			h5 Request a Demo
			form(action='https://formspree.io/support@carevoice.org' method='POST').row
				.col.l6.s12
					label Name
					input(type='text' name='name')
				.col.l6.s12
					label Organization
					input(type='text' name='organization')
				.col.l6.s12
					label Email
					input(type='text', name='_replyto')
				.col.l6.s12
					label Phone
					input(type='text' name='phone')
				.col.s12
					label Any Comments?
					textarea(name='comments')
				.col.s12
					input.btn(type='submit' value='Go')