#editor-tools(style='background:#F7FAFC; height: 500px;')
	.container(style='padding-top: 10px; color:#444;'): .row.center
		h4 Our survey editing tool makes your life easier!
		p Blablabla Blablabla Blablabla Blablabla Blablabla BlablablaBlablablaBlablabla Blablabla
		img.img-responsive(src ='img/hamster.png' style='height: 300px;')