.container: .card-panel(style='margin-top: -80px;margin-bottom:80px;border-radius:10px;padding:100px 50px')
	.row.center
		.col.s12.m4
			i.material-icons.medium.green-text sentiment_very_satisfied
			h5 Patient Satisfaction
			p CareVoice is a 30 minute program presented through Wellopp's acclaimed multimedia survey tool.

		.col.s12.m4
			i.material-icons.medium.blue-text picture_as_pdf
			h5 Simple Reporting
			p Patient responses are legally binding and can be printed as PDF or appended to any electronic medical record.

		.col.s12.m4
			i.material-icons.medium.purple-text attach_money
			h5 Reimbursement
			p Medicare provides reimbursement to providers for each Advance Care Plan completed.
