div(style='padding: 50px;')
	div(ng-repeat='field in schemas["index"].concat(schemas[selected.template])')
		alpaca-field(model='selected[field.key]' type='field.type' field='field' fn='fn[field.type]')