ul#side-nav.side-nav.fixed
	li
		a.waves-effect.waves-light.logo(href='#!')
			img(src='./img/hotpath_logo_small.svg')
	li
		a.waves-effect.waves-light(href='#!')
			i.material-icons view_module
	li
		a.waves-effect.waves-light.selected(href='#!')
			i.material-icons mode_edit
	li
		a.waves-effect.waves-light(href='#!')
			i.material-icons timeline
	li
		a.waves-effect.waves-light(href='#!')
			i.material-icons settings